body
{
  background: #EBF9FB;
  padding: 0;
  margin: 0;
}
.container
{
  width: auto;
  height: 45px;
  margin: 0;
  background: #92CFF3;
  position:auto;
  top: 0;
  right: 0;

}
.container h2
{
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family:verdana;
  font-size:30px;
  color:#333;
  font-style:italic;
  font-weight:bold;
  text-align:centlefter;
}
textarea
{
  border: 1;
  border-width: medium;
  width: 37%;
  height: 33%;
  position: absolute;
  top: 23%;
  left: 4%;
  text-align: left;
  font-size: 20px;
}
input.submit
{
  border: 1;
  width: 6%;
  height: 5%;
  position: absolute;
  top: 33%;
  left: 47%;
}
input.reset
{
  border: 1;
  width: 6%;
  height: 5%;
  position: absolute;
  top: 41%;
  left: 47%;
}
textarea.mrna
{
  border: 1;
  width: 37%;
  height: 33%;
  top: 23%;
  left: 58.5%;
}
textarea.frame1
{
  border: 1;
  width: 65%;
  height: 4.5%;
  top: 69%;
  left: 23%;
}
textarea.frame2
{
  border: 1;
  width: 65%;
  height: 4.5%;
  top: 79%;
  left: 23%;
}
textarea.frame3
{
  border: 1;
  width: 65%;
  height: 4.5%;
  top: 89%;
  left: 23%;
}
.label1
{
  position: absolute;
  top: 70%;
  left: 13%;
  font-size: 18px;
  font-family: verdana;
}
.label2
{
  position: absolute;
  top: 80%;
  left: 13%;
  font-size: 18px;
  font-family: verdana;
}
.label3
{
  position: absolute;
  top: 90%;
  left: 13%;
  font-size: 18px;
  font-family: verdana;
}
.Protein_sequence
{
  position: absolute;
  top: 61%;
  left: 23%;
  font-family: verdana;
}
.DNA_sequence
{
  position: absolute;
  top: 15%;
  left: 4%;
  font-family: verdana;
}
.mRNA_sequence
{
  position: absolute;
  top: 15%;
  left: 58.5%;
  font-family: verdana;
}
.info
{
  position: absolute;
  top: 11%;
  left: 9%;
  font-size: 15px;
  font-family: verdana;
}
